<h1>Dr <%= @doctor.name %></h1>

<body>
  <section id="doctor-info">
    <h2>Doctor Info</h2>
    <p>Specialty: <%= @doctor.specialty %></p>
    <p>Graduated from: <%= @doctor.university %></p>
  </section>

  <section id="hospital-info">
    <h2>Hospital</h2>
    <%= @doctor.find_hospital %>
  </section>

  <section id="patients">
    <h2>Patients</h2>
    <% @patients.each do |patient| %>
      <p><%= patient.name %></p>
      <%= form_with url: doctor_patient_path, method: :delete, local: true do |form| %>
        <%= form.hidden_field :patient_id, value: patient.id %>
        <%= form.submit "Delete #{patient.name}" %>
      <% end %>
    <% end %>
  </section>
</body>